#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

Body{
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: top;

}

.bg-image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('../src/assets/doge.png');
  filter: blur(3px);
  background-size: cover;
  background-position: center;
  z-index: -1;

}
.bg-blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.568);
  z-index: -1;
}

.Content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
}

.tokenomics {
  text-align: left;
  padding-left: 5%;
  color: rgb(255, 255, 255);
}


form {
  margin-top: 20px; /* Add some space between the inputs and the button */
}

input {

  width: 80%;
  margin-bottom: 10px; /* Add space between input fields */
}
.Submit{
  color: silver;
}
input {
  background: none;
  padding: 10px;
  padding-bottom: 10px;
  margin: 10px 5px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wallet {
  color: rgb(255, 255, 255);
  font-size:xx-large ;
  font-weight: bolder;
  font-family: 'Lobster Two';
}
.link{
  color: #00a6ff;
}
button {
  border-radius: 20px;
  outline:none;
  border: transparent 1px;
  color: rgb(255, 255, 255);
  background-color: #ab9883;
  padding: 10px;
  font-weight: 50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.docs-icon {
  padding: 0px 0px 0px 20px;
}

.twitter-icon {
  padding-top: 40px;
  display: inline-flex;
  align-items: justify;
  justify-content: center;
  width: 32px;
  height: 32px;
}


.RIOT {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size:6vh; */
  color:rgb(255, 255, 255);
  
}
@font-face {
  font-family: 'RockSalt-Regular';
  src: url('../public/RockSalt-Regular.ttf') format('truetype'),
}


.inputs{
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}


.inputs .base_wallet, .x_username{
  position: relative;
}

.inputs .base_wallet input{
  height: 100%;
  border: none;
  border-bottom:  2px solid silver;
}
.inputs .x_username input{
  height: 100%;
  border: none;
  border-bottom:  2px solid silver;
  
}
label{
  text-align: left;
font-weight: bold;
}
input::placeholder{
  color: rgba(240, 248, 255, 0.61);
}